
// .accueil{
   
//     // background-image: '../assets/photo/adnFeu.jpg';
//     // background-image: url('img_girl.jpg');

// }
// .acc_container{
   
// }

.natPhoto{
    display:flex;
    justify-content:center;
    height: 250px;

}
